RewriteEngine On

# Redirección de www a sin www
RewriteCond %{HTTP_HOST} ^www\.sinplag\.cl [NC]
RewriteRule ^(.*)$ https://sinplag.cl/$1 [L,R=301]

# Establecer index.html como predeterminado
DirectoryIndex index.html

# Eliminar .html de las URLs si existe el archivo
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

# Redirigir si accede directamente con .html para ocultarlo
RewriteCond %{THE_REQUEST} \s/+(.+)\.html[\s?] [NC]
RewriteRule ^ /%1 [R=301,L,NE]
