<footer>
  <div class="container footer-container">
    <!-- Columna: Logo + Redes -->
    <div class="footer-logo-redes">
      <img
        src="../assets/img/logos/logo footer.png"
        alt="Logo"
        class="footer-logo"
      />
      <div class="footer-redes">
        <a href="https://www.instagram.com/sinplagchile/" target="_blank">
          <img src="../assets/img/iconos/instagram.png" alt="Instagram" />
        </a>
        <a
          href="https://www.facebook.com/profile.php?id=61575362661161"
          target="_blank"
        >
          <img src="../assets/img/iconos/facebook.png" alt="Facebook" />
        </a>
      </div>
    </div>

    <!-- Columna: Información de contacto -->
    <div class="footer-info">
      <p><strong>Información de contacto</strong></p>
      <p>
        <strong>Dirección:</strong> H-30 161-140, Punta de Cortés, Rancagua,
        O'Higgins
      </p>
      <p><strong>Correo:</strong> contacto@sinplag.cl</p>
    </div>

    <!-- Columna: WhatsApp -->
    <div class="footer-wsp">
      <p><strong>¿Tienes dudas?</strong></p>
      <a
        href="https://wa.me/56984096332"
        target="_blank"
        class="btn-footer-wsp"
      >
        <img src="../assets/img/iconos/wsp.png" alt="WhatsApp" />
        Escríbenos ahora
      </a>
    </div>
  </div>
</footer>
