<header>
  <div class="container header-container">
    <img src="../assets/img/logos/logo-sinplag.png" alt="Logo Sinplag" class="logo" />
    <nav>
      <ul class="navbar">
        <li><a href="../pages/index.html" >INICIO</a></li>
        <li><a href="../pages/servicios.html">SERVICIOS</a></li>
        <li><a href="../pages/nosotros.html">QUIÉNES SOMOS</a></li>
        <li><a href="../pages/contacto.html">CONTACTO</a></li>
      </ul>
    </nav>
    <a href="https://wa.me/56981394123" target="_blank" class="btn-whatsapp">
      <img src="../assets/img/iconos/wsp.png" alt="WhatsApp" />
      ¡HABLEMOS!
    </a>
  </div>
</header>
